<footer class="bg-black pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-light mb-0">© 2023 - Touts droit réserver</p>
            </div>
        </div>
    </div>
</footer>